@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="bg-light">

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Reserve an Appointment</h4>
                        <form class="d-flex">
                            <a href="/Apointments/Index/@ViewBag.DoctorId" class="btn btn-primary">
                                See all apointments
                            </a>
                        </form>
                       
                        <form asp-controller="Doctors" asp-action="Add" method="post">
                            <!-- Patient id -->
                            <div class="mb-3 ">
                                <input type="text" value=@ViewBag.DoctorId hidden class="form-control " id="doctorId" name="DoctorId" placeholder="Enter patient's name" required>
                            </div>
                            <!-- Patient Name -->
                            <div class="mb-3">
                                <label for="PatientName" class="form-label">Patient Name</label>
                                <input type="text" class="form-control" id="PatientName" name="PatientName" placeholder="Enter patient's name" required>
                            </div>

                            <!-- Date -->
                            <div class="mb-3">
                                <label for="ReservationDate" class="form-label">Date of Reservation</label>
                                <input type="date" class="form-control" id="ReservationDate" name="Date" required>
                            </div>

                            <!-- Time -->
                            <div class="mb-3">
                                <label for="ReservationTime" class="form-label">Time of Reservation</label>
                                <input type="time" class="form-control" id="ReservationTime" name="Time" required>
                            </div>

                            <!-- Submit Button -->
                            <div class="d-grid">
                                <button action="post" type="submit" class="btn btn-primary">Reserve</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>