@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<HealthCare.Models.Doctor>



<body>
 
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Doctors at demand</h1>
                <p class="lead fw-normal text-white-50 mb-0">Healthcare system</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
         
                @foreach (var doctor in Model) {       
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@doctor.Category.Name</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="~/Assets/Images/@doctor.Img" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@doctor.Name</h5>
                                <!-- Product price-->
                                <h6>@doctor.Category.Name</h6>
                               
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                                   <form class="d-flex">
                                        <a href="/Doctors/Add/@doctor.Id" class="btn btn-primary">
                                            Reserve
                                        </a>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>}
        
              
          
            </div>
        </div>
    </section>
   

</body>

